[program:celerybeat]
environment={% for k, v in wsgi_env_vars.iteritems() %}{% if not loop.first %},{% endif %}{{ k
}}="{{ v }}"{% endfor %}

command={{ venv_dir }}/bin/celery beat -A {{ app_name }}.celery
directory={{ app_dir }}
user={{ deploy_user }}
autostart=true
autorestart=true
redirect_stderr=True